<% title "Admin" %>

<p>
  <strong>Name:</strong>
  <%=h @admin.name %>
</p>

<p>
  <%= link_to "Edit", edit_admin_path(@admin) %> |
  <%= link_to "Destroy", @admin, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admins_path %>
</p>
